# Backend
backend/vendor/
backend/.env
backend/writable/*
!backend/writable/index.html
backend/writable/cache/*
!backend/writable/cache/index.html
backend/writable/logs/*
!backend/writable/logs/index.html
backend/writable/session/*
!backend/writable/session/index.html
backend/writable/uploads/*
!backend/writable/uploads/index.html
backend/writable/debugbar/*
!backend/writable/debugbar/index.html

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env*
frontend/.local

# OS/General
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# SQL Dumps (Optional, but kept out usually if large)
# *.sql
